PG_DB_HOST=your_db_host
PG_DB_PORT=your_db_port
PG_DB_USER=your_postgres_user
PG_DB_PASSWORD=your_postgres_password
PG_DB=your_postgres_db

H2_DB_URL="your_h2_url"
H2_DB_USER="your_h2_user"
H2_DB_PASSWORD="your_h2_password"

JWT_SECRET_KEY="your_jwt_secret_key"
JWT_EXPIRATION_MS=86400000
VERIFICATION_TOKEN_EXPIRATION_MS=86400000

CLOUDINARY_NAME=your_cloudinary_name
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_SECRET=your_cloudinary_api_secret

MAIL_USERNAME=your_mail
MAIL_PASSWORD=your_mail_app_password

FRONTEND_BASE_URL=your_frontend_base_url